/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.pulitzer-row {
  position: relative;
  float: left;
  width: 100%;
  &.padding {
    padding: 0px 20px;
  }
  &.right {
    float: right;
    text-align: right;
  }
  &.left {
    text-align: left;
    float: left;
  }
  &.margin-bottom {
    margin-bottom: 1.4em;
  }
  &.list-item {
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
  }
}
.pulitzer-span {
  margin-left: 0;
  position: relative;
  float: left;
  &.right {
    float: right;
    text-align: right;
   }
  &.left {
    text-align: left;
    float: left;
  }
  .icon-separator {
    display: inline-block;
    width: 5px;
  }
}
