<ul class="inline-list">
  <li><%= ffst.name %></li>
  <li>
    <%= ajax_link "Edit", edit_free_form_section_type_path(ffst), {}, dom_target(ffst) %>
  </li>
  <li>
    <%= ajax_delete 'Delete', free_form_section_type_path(ffst), {}, dom_target(ffst) %>
  </li>
</ul>
