<div class="pulitzer-row margin-bottom margin-left" id="show_<%= dom_id(partial, underscore_class_name(tag_model)) %>">
  <%= render partial: 'pulitzer/partial_tags/show', locals: { tag_model: tag_model, partial: partial } %>
</div>
