<div class="pulitzer-row margin-bottom list-item" id="<%= dom_id(tag) %>">
  <%= render partial: 'show', locals: {tag: tag} %>
  <% tag.children.each do |t| %>
    <div class="pulitzer-row margin-bottom list-item" id="<%= dom_id(t) %>">
      <%= render partial: 'show', locals: {tag: t} %>
    </div>
  <% end %>
</div>
