<%= render partial: '/pulitzer/posts/breadcrumbs', locals: {post_type: @post_type_version.post_type} %>
<h1><%= @post_type_version.name.singularize %> Post</h1>

<div class="pulitzer-row margin-bottom list-item">
  <br>
  <%= ajax_link "Add a new #{@post_type_version.name.singularize} Post", new_post_path(post_type_version_id: params[:post_type_version_id]), {}, '#new_post' %>
  <div id="new_post"></div>
</div>

<div id="posts_container">
  <% @posts.each do |post| %>
    <%= render partial: 'show_wrapper', locals: {post: post} %>
  <% end %>
</div>
