<div class="pulitzer-row">
  <ul class="list">
    <li><%= post.slug %></li>
    <% unless post.post_type_version.singleton_post? %>
      <li><%= ajax_link "Edit", edit_slug_post_path(post, version_id: version), {}, dom_target(post) %></li>
    <% end %>
  </ul>
</div>
