<div class="pulitzer-row">
  <ul class="inline-list">
    <li>
      <%= ajax_link post.title, edit_post_path(post), {}, dom_target(post) %>
    </li>
    <li>
      <%= link_to 'edit', edit_post_path(post) %>
    </li>
  </ul>
</div>
