<div class="pulitzer-row">
  <ul class="inline-list">
    <li>
      <%= post.title %>
    </li>
    <li>
      <%= ajax_link "Edit post name", edit_title_post_path(post), {}, dom_target(post) %>
    </li>
    <li>
      <%= ajax_link 'Edit content', edit_post_path(post), {}, '[data-tab-id="templates"]' %>
    </li>
    <li>
      <%= ajax_link 'Clone post', clone_post_path(post), {}, dom_target(post), http_method: 'POST', insert_method: 'append' %>
    </li>
  </ul>
</div>
