<div class="pulitzer-row">
  <div class="pulitzer-span two-fifths">
    <%= post.title %>
  </div>
  <div class="pulitzer-span one-fifth">
    <%= ajax_link "Edit post name", edit_title_post_path(post), {}, dom_target(post) %>
  </div>
  <div class="pulitzer-span one-fifth">
    <%= ajax_link 'Edit content', edit_post_path(post), {}, '[data-tab-id="templates"]' %>
  </div>
  <!-- Incomplete, needs a post exporter that can handle partial links to their templates, styles, etc.
  <div class="pulitzer-span one-fifth">
    <%#= link_to 'Export Post to JSON', export_post_path(post), {} %>
  </div>
  -->
</div>
