<h1>Posts</h1>

<%= link_to "Back to Post types", post_types_path %>
<br>
<%= ajax_link "Add a new #{@post_type.name}", new_post_path(post_type_id: params[:post_type_id]), {}, '#new_post' %>
<div id="new_post"></div>


<div id="posts_container">
  <% @posts.each do |post| %>
    <%= render partial: 'show_wrapper', locals: {post: post} %>
  <% end %>
</div>
