<div class="pulitzer-row">
  <div class="pulitzer-span margin one-third"><%= custom_option.display %></div>
  <div class="pulitzer-span margin one-third"><%= custom_option.value %></div>
  <div class="pulitzer-span margin one-third"><%= ajax_link 'edit', edit_custom_option_path(custom_option), {}, dom_target(custom_option) %></div>
</div>
