<!DOCTYPE html>
<html>
<head>
  <title>Pulitzer</title>
  <%= stylesheet_link_tag    "pulitzer/application", media: "all" %>
  <%= javascript_include_tag "pulitzer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
