<div class="pulitzer-row">
  <div class="pulitzer-span margin"><h5><%= partial_type.label %></h5></div>
  <div class="pulitzer-span match-h5"><%= partial_type.folder_path %>/</div>
  <div class="pulitzer-span margin match-h5"><%= partial_type.template_path %></div>
  <div class="pulitzer-span match-h5"><%= ajax_link 'edit', edit_partial_type_path(partial_type), {}, dom_target(partial_type) %></div>
</div>
