<h1>Tags</h1>
<% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
  <%= link_to 'Manage tags', tags_path %>
<% end %>

<h1> Post Types </h1>

<div class="pulitzer-row margin-bottom list-item">
  <% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
    <%= ajax_link 'Add a new post type', new_post_type_path, {}, '#new_post_type' %>
  <% end %>
  <div id="new_post_type"></div>
</div>

<div id="post_types_container">
  <% @post_types.each do |post_type| %>
    <%= render partial: 'show_wrapper', locals: {post_type: post_type} %>
  <% end %>
</div>
