<div data-pulitzer-toolbar>
  <a data-wysihtml5-command="bold">Bold</a>
  <a data-wysihtml5-command="italic">Italic</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">H1</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">Paragraph</a>
  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="gold">Gold</a>
</div>
