<div class="pulitzer-row margin-bottom list-item" id="<%= dom_id(partial) %>" <%= listener_attrs(partial, :reload_show, endpoint: pulitzer.partial_path(partial)) %>>
  <%= render partial: '/pulitzer/partials/show', locals: { partial: partial } %>
</div>
