.pulitzer-row {
  position: relative;
  float: left;
  width: 100%;
  &.padding {
    padding: 0px 20px;
  }
  &.right {
    float: right;
    text-align: right;
  }
  &.left {
    text-align: left;
    float: left;
  }
  &.margin-bottom {
    margin-bottom: 1.4em;
  }
  &.list-item {
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
  }
  .inline-list li{
    display: inline;
    margin: 0px 5px;
  }
}
.pulitzer-span {
  margin-left: 0;
  position: relative;
  float: left;
  &.right {
    float: right;
    text-align: right;
   }
  &.left {
    text-align: left;
    float: left;
  }
  .icon-separator {
    display: inline-block;
    width: 5px;
  }
}
.pulitzer-hidden{
  display: none;
}
