<div class="pulitzer-row margin-left">
  <% partial.content_elements.each do |content_element| %>
    <%= render partial: '/pulitzer/content_elements/show_wrapper', locals: { element: content_element } %>
  <% end %>
</div>