<div class="pulitzer-row">
  <div class="pulitzer-row">
    <h5>
      <%= content_element.label %>
      <% if content_element.required? %>
        - *required
      <% end %>
    </h5>
  </div>
  <div class="pulitzer-row">
    <div class="pulitzer-span ninety-percent"><%= render_element(content_element) %></div>
    <div class="pulitzer-span ten-percent"><%= ajax_link "Edit", edit_content_element_path(content_element), {}, dom_target(content_element) %></div>
  </div>
</div>
