<div class="pulitzer-row">
  <ul class="list">
    <% if content_element.free_form? %>
      <li><h2><%= content_element.label %></h2></li>
    <% end %>
    <li><%= render_element(content_element) %></li>
    <li><%= ajax_link "Edit", edit_post_content_element_path(content_element.post, content_element), {}, dom_target(content_element) %></li>
  </ul>
</div>

<div class="ih-span right">
  <%= render partial: '/pulitzer/shared/drag_handle' %>
</div>
