<h3><%= humanize_class_name(tag_model).pluralize %></h3>
<ul class='list'>
  <% post.post_tags.where(label_type: tag_model).each do |post_tag| %>
  <li><%= post_tag.label.name %></li>
  <% end %>
</ul>

<%= ajax_link "Add a new #{humanize_class_name(tag_model)}", new_post_post_tag_path(post, tag_model: tag_model), {}, "#new_tag_#{underscore_class_name(tag_model)}" %>

<div id="new_tag_<%= underscore_class_name(tag_model) %>"></div>
