<div class="pulitzer-row margin-bottom margin-left" id="show_<%= underscore_class_name(tag_model) %>">
  <%= render partial: 'pulitzer/post_tags/show', locals: { tag_model: tag_model, version: version } %>
</div>
