<h1><%= @pulitzer_post.title %></h1>
<div class="image_with_caption">
  <%= image_tag @pulitzer_post.content_element('Background').image_url %>
</div>
<p><%= @pulitzer_post.content_element('Main Body').body %></p>
