<h1><%= @pulitzer_post.title %></h1>

<%= @pulitzer_post.content_elements.sorted.each do |content_element| %>
  <% case content_element.type %>
  <% when :image %>
    <div class="image_with_caption">
      <%= image_tag @pulitzer_post.content_element('Hero').body %>
    </div>
  <% when :text %>
    <p><%= @pulitzer_post.content_element('Main Body').body %></p>
  <% end %>
<% end %>
